<%- include("partials/header") -%>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">An App which cares about your Weather.</h1>
          <a href="/Login"><button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fas fa-cloud-sun-rain"></i> Get Started</button></a>
          
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="https://mcstyles.com/wp-content/uploads/live-weather-wallpaper-android-1.jpg" alt="iphone-mockup">
        </div>

      </div>

    </div>

  </section>


<%- include("partials/footer") -%>  
