<%- include("partials/header") -%>

    <form action="/input" method="POST">
        <label for="cityInput">City Name:</label>
        <input id="cityInput" type="text" name="cityName">
        <button type="submit">Go!</button>
    </form>

<%- include("partials/footer") -%>    